.logo {
  font-size: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logIn {
  width: 350px;
  height: 398px;
  margin: 0px 0px 10px;
  padding: 10px 0px;
  border: 0.1px solid rgb(187, 186, 186);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.input-box {
  margin: 0px 40px 6px;
  width: 268.4px;
  height: 37.6px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right: 1px solid rgb(187, 186, 186);
  border-bottom: 1px solid rgb(187, 186, 186);
  border-top: 1px solid rgb(187, 186, 186);
  border-left: 1px solid rgb(187, 186, 186);
  background-color: rgb(250, 250, 250);
}
.input-box::placeholder {
  font-size: 12px;
  margin-left: 5px;
}
.input-box span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 13px;
  color: black;
}

.signIn-container {
  width: 350px;
  height: 62.6px;
  margin: 0px 0px 10px;
  padding: 10px 0px;
  border: 0.1px solid rgb(187, 186, 186);
  display: flex;

  justify-content: center;
  align-items: center;
  text-align: center;
}

.line {
  border-top: 1px solid rgb(187, 186, 186);
  width: 110px;
  height: 20px;
  margin: 10px 10px 10px 10px;
}

.cursor-pointer {
  cursor: pointer;
}

.logo-facebook {
  height: 16px;
  width: 16px;
}

.download-app {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.download {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.download-font {
  color: #fff;
  z-index: 1;
}

.or-text {
  font-size: 13px;
  font-weight: bold;
  color: rgb(71, 71, 71);
}

.disabled {
  background-color: gray;
}
.abled {
  background-color: rgb(50, 185, 239);
}
